<li class="table-row">
  <div class="table-cell user-gravatar">
    <img src="<%= user.gravatarUrl(100) %>" alt="Gravatar de <%= user.username %>" />
  </div>
  <div class="table-cell">
    <span class="user-fullname"><a href="<%= userShowPath(user) %>"><%= user.fullName() %></a></span>
    <span class="user-username"><%= user.username %></span>
  </div>
  <div class="table-cell user-role">
    <span class="badge"><%= user.displayRole() %></span>
  </div>
  <div class="table-cell">
    <a href="<%= userEditPath(user) %>" class="btn btn-small">Editar Usuario</a>
  </div>
</li>
