<%- include('../includes/top-layout') %>

<h1 class="page-title">Administración de Usuarios</h1>

<p>Actualmente hay <%= userCount %> usuarios. </p>

<a href="<%= userNewPath %>" class="btn">Crear Usuario</a>

<% if (users && users.length) { %>
  <ul class="table full-width">
    <% users.forEach(user => { %>
      <%- include('_user-row', { user }) %>
    <% })%>
  </ul>
<% } else { %>
  <p class="empty-notice">No hay usuarios</p>
<% } %>

<%- include('../includes/bottom-layout') %>
