<header id="main-header">
  <div class="container">
    <div class="brand">
      <h2 class="brand-heading"><a href="<%= homePath %>" class="site-brand">Dante</a></h2>
      <p class="brand-description">Bit치cora de un ayudante de web</p>
    </div>
    <div class="session-actions">
      <% if (currentUser) { %>
        <span class="session-current-user">
          <a href="<%= usersShowPath(currentUser) %>">
            <img src="<%= currentUser.gravatarUrl(40) %>" alt="Gravatar de <%= currentUser.username %>" />
            <%= currentUser.username %>
          </a>
        </span>
        <% if (currentUser.isAdmin()) { %>
          <a href="<%= adminIndexPath %>" class="btn btn-small">Administraci칩n</a>
        <% } %>
        <input class="btn btn-small btn-clear" type="submit" form="signout-form" value="Cerrar sesi칩n" />
      <% } else { %>
        <a class="btn btn-small " href="<%= signUpPath %>" >Crear cuenta</a>
        <a class="btn btn-small btn-clear" href="<%= signInPath %>" >Iniciar sesi칩n</a>
      <% } %>
    </div>
  </div>
</header>


<% if (locals.notice) { %>
    <div class="container">
      <div class="flashMessage notice">
        <p><%= notice %></p>
      </div>
    </div>
<% } %>

<% if (locals.warning) { %>
    <div class="container">
      <div class="flashMessage warning">
        <p><%= warning %></p>
      </div>
    </div>
<% } %>
