<aside class="sidebar">
  <h3>Navegación</h3>
  <nav class="admin-navigation">
    <ul>
      <li><a href="<%= adminIndexPath %>">Inicio Administración</a></li>
      <li><a href="<%= homePath %>">Inicio Dante</a></li>
    </ul>
  </nav>
  <h3>Modelos</h3>
  <nav class="admin-navigation">
    <ul>
      <li><a href="<%= adminPostsPath %>">Posts</a></li>
      <li><a href="<%= adminUsersPath %>">Usuarios</a></li>
      <li><a href="<%= adminTeamsPath %>">Equipos</a></li>
    </ul>
  </nav>
</aside>
