<article class="post-item">
  <header class="post-header">
    <h2 class="post-title">
      <a href="<%= postShowPath(post) %>">
        <%= post.title %>
      </a>
    </h2>
  </header>

  <div class="post-body">
    <%= post.getExcerpt(200) %>
  </div>
  <footer>
    <span class="post-meta">
      <time datetime="<%= post.publishDate %>">
        <a href="<%= postShowPath(post) %>">
          🗓
          <%= post.displayDate() %>
        </a>
      </time> ·
      <span class="post-author">
        Escrito por
        <img class="post-author-gravatar" src="<%= post.author.gravatarUrl(40) %>" alt="Gravatar de <%= post.author.fullName() %>" />
        <%= post.author.fullName() %>
      </span>
    </span>
    <div class="post-like-bar">
      <%- include('_like', {
        hasLikeFromUser: post.hasLikeFromUser(currentUser),
        likesCount: post.likes.length,
      }) %>
    </div>
  </footer>
</article>
